<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.binance.trade.mapper.TradeConclusionMapper">
    <select id="selectTradeConclusion" resultType="com.binance.trade.model.TradeConclusion">
        SELECT
            `id`,
            `symbol`,
            `signal`,
            `min`,
            `max`,
            `avg`,
            `dev`,
            `count`,
            `second`,
            `trade_at`
        FROM bot.trade_conclusion
        WHERE `symbol` = #{symbol}
          AND `second` = #{second}
        ORDER BY `trade_at` DESC limit #{limit};
    </select>

    <select id="selectTradeConclusionLatest" resultType="com.binance.trade.model.TradeConclusion">
        SELECT
            `id`,
            `symbol`,
            `signal`,
            `min`,
            `max`,
            `avg`,
            `dev`,
            `count`,
            `second`,
            `trade_at`
        FROM bot.trade_conclusion
        WHERE symbol = #{symbol}
        ORDER BY `id` DESC limit 1;
    </select>
    <select id="selectTradeConclusionUpDown" resultType="com.binance.trade.model.TradeConclusion">
        (select `signal`, `second`, trade_at from trade_conclusion where second = 5 order by id desc limit 3)
        UNION ALL
        (select `signal`, `second`, trade_at from trade_conclusion where second = 3 order by id desc limit 3)
    </select>


    <insert id="insertTradeConclusion" parameterType="com.binance.trade.model.TradeConclusion">
        INSERT INTO bot.trade_conclusion (
            `symbol`,
            `signal`,
            `min`,
            `max`,
            `avg`,
            `dev`,
            `count`,
            `second`,
            `trade_at`
        )
        VALUES (
            #{symbol},
            #{signal},
            #{min},
            #{max},
            #{avg},
            #{dev},
            #{count},
            #{second},
            #{trade_at}
        )
    </insert>
</mapper>