<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.binance.trade.mapper.TradeHistoryMapper">

    <insert id="insertTradeHistory" parameterType="com.binance.trade.model.TradeHistory">
        INSERT IGNORE INTO bot.trade_history (
            tranId,
            price,
            symbol,
            qty,
            quoteQty,
            isBestMatch,
            isBuyerMaker,
            time
        )
        VALUES (
            #{tranId},
            #{price},
            #{symbol},
            #{qty},
            #{quoteQty},
            #{isBestMatch},
            #{isBuyerMaker},
            #{time}
        )
    </insert>

    <select id="selectTradeHistory" resultType="com.binance.trade.model.TradeHistory">
        SELECT
            id,
            tranId,
            price,
            symbol,
            qty,
            quoteQty,
            isBestMatch,
            isBuyerMaker,
            time
        FROM bot.trade_history WHERE 1=1
        <![CDATA[
        AND time >= #{start} AND time <= #{end}
        ]]>
    </select>

    <insert id="insertTradeVolume" parameterType="com.binance.trade.model.TradeVolumeReport">
        INSERT INTO trade_volume_report ( symbol, volume, avg_price, date_hour)
        SELECT *
        FROM (
                 SELECT #{symbol}, SUM(qty) qty, AVG(price), LEFT(FROM_UNIXTIME(LEFT(`time`, 10)), 16) AS date_hour
                 FROM trade_history WHERE `time` >= CONCAT(UNIX_TIMESTAMP(DATE_SUB(now(), INTERVAL 1 day )), '000') AND symbol = #{pair}
                 GROUP BY LEFT(FROM_UNIXTIME(LEFT(`time`, 10)), 16)
             ) A
            ON DUPLICATE KEY UPDATE volume = A.qty, updated_at = now()
    </insert>

    <select id="checkTradeVolumeExplosion" resultType="com.binance.trade.model.TradeVolumeExplosion" parameterType="String">
        SELECT ROUND(A.volume / B.volume) AS tradeVolumeIncreaseRate, B.avg_price - A.avg_price AS priceMovingAmount
        FROM
            (SELECT volume, avg_price FROM trade_volume_report WHERE symbol = '${value}' ORDER BY id DESC limit 1) A,
            (SELECT volume, avg_price FROM trade_volume_report WHERE symbol = '${value}' ORDER BY id DESC limit 1,1) B
    </select>
</mapper>